<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@Web.Helper.Common.ApplicationName | @ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="@Url.Content("~/Content/js/plugins/bootstrap-3.3.1/dist/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/js/plugins/font-awesome-4.3.0/css/font-awesome.min.css")" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="@Url.Content("~/Content/js/plugins/ionicons-1.5.2/css/ionicons.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/datatables/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="@Url.Content("~/Content/css/AdminLTE.css")" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery 2.0.2 -->
    <script src="@Url.Content("~/Content/js/plugins/jquery.min.js")"></script>
    <!-- Bootstrap -->
    <script src="@Url.Content("~/Content/js/plugins/bootstrap-3.3.1/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")"></script>
    <script src="@Url.Content("~/Content/js/plugins/datatables/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/plugins/datatables/dataTables.bootstrap.js")" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/AdminLTE/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/utility.js")" type="text/javascript"></script>
    <style type="text/css">
        /* Styles for validation helpers-----------------------------------------------------------*/
        .field-validation-error {
            color: #ff0000;
        }

        .field-validation-valid {
            display: none;
        }

        .input-validation-error {
            border: 1px solid #ff0000;
            background-color: #ffeeee;
        }

        .validation-summary-errors {
            font-weight: bold;
            color: #ff0000;
        }

        .validation-summary-valid {
            display: none;
        }
    </style>
    @RenderSection("stylesheet", required: false)
</head>
<body class="skin-blue">
    <!-- header logo: style can be found in header.less -->
    <header class="header">
        <a href="@Url.Content("~/")" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            @Web.Helper.Common.ApplicationName
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="javascript:void(0);" class="navbar-btn sidebar-toggle" role="button">
                <span class="sr-only">toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    @RenderSection("logon_status", required: false)
                    @if (!IsSectionDefined("logon_status"))
                    {
                    <!-- User Account: style can be found in dropdown.less -->
                        <li class="user user-menu">
                            <a href="@Url.Action("manage","account")" title="@Company">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>@LoggedUserScreenName</span>
                            </a>
                        </li>
                        <li class="user user-menu bg-red">
                            <a href="@Url.Action("logoff","account")">
                                <i class="glyphicon glyphicon-log-out"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            @RenderSection("sidebar", required: false)
            @if (!IsSectionDefined("sidebar"))
            {
            <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- search form -->
                    <!--<form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..." />
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>-->
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="">
                            <a href="@Url.Action("index","home")">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-bar-chart-o"></i>
                                <span>Masters</span>
                                <i class="fa fa-angle-double-down pull-right"></i>
                            </a>
                            <ul class="treeview-menu" style="display:block;">
                                @if (LoggedUser != null)
                                {
                                    switch (LoggedUser.Role)
                                    {
                                        case Web.Helper.Common.ApplicationRole.SystemAdministrator:
                                        case Web.Helper.Common.ApplicationRole.Administrator:
                                            <text>
                                                <li><a href="@Url.Action("index", "company")"><i class="fa fa-angle-double-right"></i> Company</a></li>
                                                <li><a href="@Url.Action("index", "student")"><i class="fa fa-angle-double-right"></i> Student</a></li>
                                                <li><a href="@Url.Action("index", "batch")"><i class="fa fa-angle-double-right"></i> Batch</a></li>
                                                <li><a href="@Url.Action("index", "quiz")"><i class="fa fa-angle-double-right"></i> Quiz</a></li>
                                            </text>
                                            break;
                                        case Web.Helper.Common.ApplicationRole.CompanyAdmin:
                                            <text>
                                                <li><a href="@Url.Action("index", "student")"><i class="fa fa-angle-double-right"></i> Student</a></li>
                                                <li><a href="@Url.Action("index", "batch")"><i class="fa fa-angle-double-right"></i> Batch</a></li>
                                                <li><a href="@Url.Action("index", "quiz")"><i class="fa fa-angle-double-right"></i> Quiz</a></li>
                                            </text>
                                            break;
                                        case Web.Helper.Common.ApplicationRole.Student:
                                            break;
                                        default:
                                            break;
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </section>
            <!-- /.sidebar -->
            }
        </aside>
        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            @RenderBody()
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->
    @RenderSection("scripts", required: false)
</body>
</html>
